
        <!doctype html>

        <html class="no-js" lang="en"> 
           <head>
            
            <meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="favicon.ico">

<!--Google Font link-->



</head>

<body data-spy="scroll" data-target=".navbar-collapse"  >







    

    <footer id="footer" class="footer bg-black">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <p class="wow fadeInRight" data-wow-duration="1s">
                        Made with 
                        <i class="fa fa-heart"></i>
                        by 
                        <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a> 
                        2016. All Rights Reserved
                    </p>
                </div>
            </div>
       
    </footer>


</body>
</html>