/*add formation
<style>
  .gradient-custom {
/* fallback for old browsers */
.divBoutton
{
    margin-top: 200px;
}
.grise
{
    color:grey
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
